<div id="<%= dom_id task %>">
  <p class="text-primary">
    <strong>Title:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= task.completed %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= task.date %>
  </p>

</div>
